@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply w-full rounded-xl border border-gray-200 px-4 py-3 text-sm
        focus:outline-none focus:ring-2 focus:ring-red-500;
    }
}
